{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<!-- display chat messages -->
	{% for message in chat.message_set.all %}
		{% if request.user == message.user %}
			<div class="card">
				<div class="card-body">
					<h6>You<cite class="grey-text darken-1">~{{message.timestamp | timesince}} ago</cite>
					</h6>
					<p>{{message.content}}</p>
				</div>
			</div>
		{% else %}
			<div class="card">
				<div class="card-body">
					<h6 class="card-title">
					<a href="#">{{message.user.username}}</a> <cite class="grey-text darken-1">~{{message.timestamp | timesince}} ago</cite>
					</h6>
					
					<p class="card-text">{{message.content}}</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	
	
	<form method="POST" class="form-inline">
		{% csrf_token %}
		<div class="form-group mx-sm-3 mb-2">
			<label for="content" class="sr-only">Message</label>
			<input name="content" class="form-control" id="content" placeholder="Start typing...">
		</div>
		<button type="submit" class="btn btn-primary mb-2">Send</button>
	</form>
	
{% endblock %}