{% extends 'base.html' %}

{% block content %}



<img src='thera-tinder.png'>



<div class="list-group">

{% for therapist in therapists %}
<div class="card list-group-item1 mt-3">
  <div class="card-header">
    <img src="https://www.computerhope.com/cdn/computer-hope.jpg" width="40" height="40" alt="therapist">
    {{ therapist.user.first_name }} {{ therapist.user.last_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">{{ therapist.bio }}</p>
    <a href="{% url 'doctor_profile' therapist.id%}" class="btn btn-success">Read More</a>
  </div>
</div>




  
  {% endfor %}



</div>


{% endblock %}